    <div class="ancho">
      <div class="logo">
        <a href="#"><img src="../../imagenes/logo1.png"></a>
      </div>
      <div>
      <nav>
        <ul>
         <li><a href="../..">Inicio</a></li>
         <li><a href="/users/grados">Grados</a></li>
         <li><a href="/users/juegos">Juegos</a></li>
         <li><a href="/users/registro">Registrate</a></li>
         <li><a href="/users/login">Ingresa</a></li>
         <li><a href="/users/perfil"><img src="../../imagenes/niño.png"></a></li>
        </ul>
      </nav>
      </div>
  </div>

  <div class="contenedor">
  <a href="#"><img src="../../imagenes/banner.png"></a>
  <div class="texto">

  </script>
  <script type="text/javascript" src="funcionesjs.js"></script>
<br></br>
<h1>Ejercicios grado 1</h1>
<br></br>
<div class="seccion">
<br></br>
<h1>Numeros del 1 al 9</h1>
<h2>Ingresa el numero en tu teclado</h2>
  <div id="slider-wrapper">
  <div class="inner-wrapper">
    <div class="overflow-wrapper">
      <a class="slide">
        <table >

          <th>
          <td class="script">
            <div id="centrar">
              <script type="text/javascript">
                num1=randomNum(1,9)
                document.write('<img src="../../imagenes/' + num1 + '.png">');
              </script>
            </div>
              <br>
          </td>
          <td class="comprobar">
            <input type="number" name="num2" id="num2"></input>
            <script type="text/javascript">
              nume=num1;
            </script>
            <button type="submit" onClick="comprobar()">COMPRUEBA</button>
            <button type="submit" onClick="cambio()">Cambia</button>
          </td>
        </th>

        </table>
      </a>

    </div>
  </div>
</div>


    <br></br>
  </div>
  </div>

  <br></br>
  <hr></hr>
  <br></br>