    <div class="ancho">
      <div class="logo">
        <a href="#"><img src="../../imagenes/logo1.png"></a>
      </div>
      <div>
      <nav>
        <ul>
         <li><a href="../..">Inicio</a></li>
         <li><a href="/users/grados">Grados</a></li>
         <li><a href="/users/juegos">Juegos</a></li>
         <li><a href="/users/registro">Registrate</a></li>
         <li><a href="/users/login">Ingresa</a></li>
         <li><a href="/users/perfil"><img src="../../imagenes/niño.png"></a></li>
        </ul>
      </nav>
      </div>
  </div>

  <div class="contenedor">
  <a href="#"><img src="../../imagenes/banner.png"></a>
  <div class="texto">

  </div>
  <div class="centrado1">
    Aquí veras los temas del grado 1, al completar los ejercicios se desbloquea la evaluacion final.
    Pulsa en los botones de colores para ver la explicación.
  </div>
</div>
</header>

<body>
<br></br>
<h1>Temario grado 1</h1>
<br></br>
<h1 class="explicar">Pulsa en los botones de colores en cada tema para ver las imagenes</h1>
<br></br>
<div class="seccion">
<br></br>
<h1>Numeros del 1 al 9</h1>

  <div id="slider-wrapper">
  <div class="inner-wrapper">
    <input checked type="radio" name="slide" class="control" id="Slide1" />
    <label for="Slide1" id="s1"></label>
    <input type="radio" name="slide" class="control" id="Slide2" />
    <label for="Slide2" id="s2"></label>
    <input type="radio" name="slide" class="control" id="Slide3" />
    <label for="Slide3" id="s3"></label>
    <input type="radio" name="slide" class="control" id="Slide4" />
    <label for="Slide4" id="s4"></label>
    <div class="overflow-wrapper">
      <a class="slide"><img src="../../imagenes/temasGrado1/num0a9.png" /></a>
      <a class="slide"><img src="../../imagenes/temasGrado1/2.png" /></a>
      <a class="slide"><img src="../../imagenes/temasGrado1/3.png" /></a>
      <a class="slide"><img src="../../imagenes/temasGrado1/4.png" /></a>
    </div>
  </div>
</div>

    <br>
    <center><img class="practicar" src="../../imagenes/practicar.png"></center>
    <center><button><a href="ejercicios1">Ejercicios</a></button></center>
    <br>
    <center><img class="practicar" src="../../imagenes/examen.png"></center>
    <center><button><a href="evaluacion1.html">Evaluación</a></button></center>
    <br></br>
  </div>
  </div>

  <div class="seccion1">
    <br></br>
    <h1>Adición de números</h1>

      <div id="slider-wrapper">
      <div class="inner-wrapper">
        <input checked type="radio" name="slide" class="control" id="Slide5" />
        <label for="Slide5" id="s5"></label>
        <input type="radio" name="slide" class="control" id="Slide6" />
        <label for="Slide6" id="s6"></label>
        <div class="overflow-wrapper">
          <a class="slide"><img src="../../imagenes/temasGrado1/suma0.png" /></a>
          <a class="slide"><img src="../../imagenes/temasGrado1/suma1.png" /></a>
        </div>
      </div>
    </div>

        <br>
        <center><img class="practicar" src="../../imagenes/practicar.png"></center>
        <center><button><a href="ejercicios1_2.html">Ejercicios</a></button></center>
        <br>
        <center><img class="practicar" src="../../imagenes/examen.png"></center>
        <center><button><a href="ejercicios1_2.html">Evaluación</a></button></center>
        <br></br>
      </div>
  </div>

  <div class="seccion">
    <br></br>
    <h1>Sustracción de números</h1>

      <div id="slider-wrapper">
      <div class="inner-wrapper">
        <input checked type="radio" name="slide" class="control" id="Slide7" />
        <label for="Slide7" id="s7"></label>
        <input type="radio" name="slide" class="control" id="Slide8" />
        <label for="Slide8" id="s8"></label>
        <div class="overflow-wrapper">
          <a class="slide"><img src="../../imagenes/temasGrado1/resta0.png" /></a>
          <a class="slide"><img src="../../imagenes/temasGrado1/resta1.png" /></a>

        </div>
      </div>
    </div>

        <br>
        <center><img class="practicar" src="../../imagenes/practicar.png"></center>
        <center><button><a href="ejercicios1_3.html">Ejercicios</a></button></center>
        <br>
        <center><img class="practicar" src="../../imagenes/examen.png"></center>
        <center><button><a href="evaluacion_3.html">Evaluación</a></button></center>
        <br></br>
      </div>
  </div>

  <div class="seccion1">
    <br></br>
    <h1>Doble y mitad</h1>

      <div id="slider-wrapper">
      <div class="inner-wrapper">
        <input checked type="radio" name="slide" class="control" id="Slide9" />
        <label for="Slide9" id="s9"></label>
        <input type="radio" name="slide" class="control" id="Slide10" />
        <label for="Slide10" id="s10"></label>
        <div class="overflow-wrapper">
          <a class="slide"><img src="../../imagenes/temasGrado1/doble.png" /></a>
          <a class="slide"><img src="../../imagenes/temasGrado1/mitad.png" /></a>

        </div>
      </div>
    </div>

        <br>
        <center><img class="practicar" src="../../imagenes/practicar.png"></center>
        <center><button><a href="ejercicios1_4.html">Ejercicios</a></button></center>
        <br>
        <center><img class="practicar" src="../../imagenes/examen.png"></center>
        <center><button><a href="ejercicios1_4.html">Evaluación</a></button></center>
        <br></br>
      </div>
  </div>

  <div class="seccion">
    <br></br>
    <h1>Multiplicación por 2</h1>

      <div id="slider-wrapper">
      <div class="inner-wrapper">
        <input checked type="radio" name="slide" class="control" id="Slide11" />
        <label for="Slide11" id="s11"></label>
        <input type="radio" name="slide" class="control" id="Slide12" />
        <label for="Slide12" id="s12"></label>
        <div class="overflow-wrapper">
          <a class="slide"><img src="../../imagenes/temasGrado1/mul21.png" /></a>
          <a class="slide"><img src="../../imagenes/temasGrado1/mul2.png" /></a>

        </div>
      </div>
    </div>

        <br>
        <center><img class="practicar" src="../../imagenes/practicar.png"></center>
        <center><button><a href="ejercicios1_5.html">Ejercicios</a></button></center>
        <br>
        <center><img class="practicar" src="../../imagenes/examen.png"></center>
        <center><button><a href="ejercicios1_5.html">Evaluación</a></button></center>
        <br></br>
      </div>
  </div>

  <div class="seccion1">
    <br></br>
    <h1>Multiplicación por 3</h1>

      <div id="slider-wrapper">
      <div class="inner-wrapper">
        <input checked type="radio" name="slide" class="control" id="Slide13" />
        <label for="Slide13" id="s13"></label>
        <input type="radio" name="slide" class="control" id="Slide14" />
        <label for="Slide14" id="s14"></label>
        <div class="overflow-wrapper">
          <a class="slide"><img src="../../imagenes/temasGrado1/mul31.png" /></a>
          <a class="slide"><img src="../../imagenes/temasGrado1/mul3.png" /></a>

        </div>
      </div>
    </div>

        <br>
        <center><img class="practicar" src="../../imagenes/practicar.png"></center>
        <center><button><a href="ejercicios1_6.html">Ejercicios</a></button></center>
        <br>
        <center><img class="practicar" src="../../imagenes/examen.png"></center>
        <center><button><a href="ejercicios1_6.html">Evaluación</a></button></center>
        <br></br>
      </div>
  </div>

  <div class="seccion">
    <br></br>
    <h1>Comparación de numeros</h1>

      <div id="slider-wrapper">
      <div class="inner-wrapper">
        <input checked type="radio" name="slide" class="control" id="Slide15" />
        <label for="Slide15" id="s15"></label>
        <input type="radio" name="slide" class="control" id="Slide16" />
        <label for="Slide16" id="s16"></label>
        <input type="radio" name="slide" class="control" id="Slide17" />
        <label for="Slide17" id="s17"></label>
        <input type="radio" name="slide" class="control" id="Slide18" />
        <label for="Slide18" id="s18"></label>
        <div class="overflow-wrapper">
          <a class="slide"><img src="../../imagenes/temasGrado1/comparacion.png" /></a>
          <a class="slide"><img src="../../imagenes/temasGrado1/mayorque.png" /></a>
          <a class="slide"><img src="../../imagenes/temasGrado1/menorque.png" /></a>
          <a class="slide"><img src="../../imagenes/temasGrado1/iguala.png" /></a>
        </div>
      </div>
    </div>

        <br>
        <center><img class="practicar" src="../../imagenes/practicar.png"></center>
        <center><button><a href="ejercicios1_7.html">Ejercicios</a></button></center>
        <br>
        <center><img class="practicar" src="../../imagenes/examen.png"></center>
        <center><button><a href="ejercicios1_7.html">Evaluación</a></button></center>
        <br></br>
      </div>
  </div>

  <div class="seccion1">
    <br></br>
    <h1>Como escribir los números</h1>

      <div id="slider-wrapper">
      <div class="inner-wrapper">
        <input checked type="radio" name="slide" class="control" id="Slide1" />
        <label for="Slide1" id="s1"></label>
        <input type="radio" name="slide" class="control" id="Slide2" />
        <label for="Slide2" id="s2"></label>
        <input type="radio" name="slide" class="control" id="Slide3" />
        <label for="Slide3" id="s3"></label>
        <input type="radio" name="slide" class="control" id="Slide4" />
        <label for="Slide4" id="s4"></label>
        <div class="overflow-wrapper">
          <a class="slide"><img src="../../imagenes/temasGrado1/num0a9.png" /></a>
          <a class="slide"><img src="../../imagenes/temasGrado1/2.png" /></a>
          <a class="slide"><img src="../../imagenes/temasGrado1/3.png" /></a>
          <a class="slide"><img src="../../imagenes/temasGrado1/4.png" /></a>
        </div>
      </div>
    </div>

        <br>
        <center><img class="practicar" src="../../imagenes/practicar.png"></center>
        <center><button><a href="ejercicios1.html">Ejercicios</a></button></center>
        <br>
        <center><img class="practicar" src="../../imagenes/examen.png"></center>
        <center><button><a href="ejercicios1.html">Evaluación</a></button></center>
        <br></br>
      </div>
  </div>

  <div class="seccion">
    <br></br>
    <h1>Figuras geometricas</h1>

      <div id="slider-wrapper">
      <div class="inner-wrapper">
        <input checked type="radio" name="slide" class="control" id="Slide1" />
        <label for="Slide1" id="s1"></label>
        <input type="radio" name="slide" class="control" id="Slide2" />
        <label for="Slide2" id="s2"></label>
        <input type="radio" name="slide" class="control" id="Slide3" />
        <label for="Slide3" id="s3"></label>
        <input type="radio" name="slide" class="control" id="Slide4" />
        <label for="Slide4" id="s4"></label>
        <div class="overflow-wrapper">
          <a class="slide"><img src="../../imagenes/temasGrado1/num0a9.png" /></a>
          <a class="slide"><img src="../../imagenes/temasGrado1/2.png" /></a>
          <a class="slide"><img src="../../imagenes/temasGrado1/3.png" /></a>
          <a class="slide"><img src="../../imagenes/temasGrado1/4.png" /></a>
        </div>
      </div>
    </div>

        <br>
        <center><img class="practicar" src="../../imagenes/practicar.png"></center>
        <center><button><a href="ejercicios1.html">Ejercicios</a></button></center>
        <br>
        <center><img class="practicar" src="../../imagenes/examen.png"></center>
        <center><button><a href="ejercicios1.html">Evaluación</a></button></center>
        <br></br>
      </div>
  </div>

  <br></br>
  <hr></hr>
  <br></br>