    <div class="ancho">
      <div class="logo">
        <a href="#"><img src="../imagenes/logo1.png"></a>
      </div>
      <div>
      <nav>
        <ul>
         <li><a href="..">Inicio</a></li>
         <li><a href="/users/grados">Grados</a></li>
         <li><a href="/users/juegos">Juegos</a></li>
         <li><a href="/users/registro">Registrate</a></li>
         <li><a href="/users/login">Ingresa</a></li>
         <li><a href="/users/perfil"><img src="../imagenes/niño.png"></a></li>
        </ul>
      </nav>
      </div>
  </div>
  
  
  <br></br>

    <div class="titulo">
      <p>Perfil de usuario</p>
    </div>
    <br></br>
    <div class="titulo">
      <p>Hola! <label type="text" id="Nombre" name="Nombre">Nombre de usuario</label></p>
    </div>

    <br></br>
    <div class="seccion">
      <img class="image1" src="imagenes/trabajo-en-progreso.png">
      <br>
      <center><button><a href="grados.html">Grados</a></button></center>
      <br></br>
    </div>
<br></br>
    <div class="seccion1">
      <img class="image1" src="imagenes/calculador.png">
      <br>
      <center><button><a href="ejercicios1.html">Ejercicios</a></button></center>
      <br></br>
    </div>
<br></br>
    <div class="seccion">
      <img class="image1" src="imagenes/barra-de-progreso.png">
      <br>
      <center><button><a href="temas1.html">Progreso</a></button></center>
      <br></br>
    </div>
<br></br>